---
layout: default
title: 标签
permalink: /tags/
---

<div class="wrap tags-page">
  <h1 class="page-title">标签</h1>

  {% if site.tags.size > 0 %}
    <div class="tag-cloud">
      {% for tag in site.tags %}
        <a href="#{{ tag[0] }}" class="tag tag--cloud">{{ tag[0] }} <span class="tag-count">{{ tag[1].size }}</span></a>
      {% endfor %}
    </div>

    {% for tag in site.tags %}
      <section class="tag-section" id="{{ tag[0] }}">
        <h2 class="tag-heading">#{{ tag[0] }}</h2>
        <ul class="post-list post-list--compact">
          {% for post in tag[1] %}
            <li class="post-item">
              <a class="post-item-link" href="{{ post.url | relative_url }}">
                <time class="post-item-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%Y.%m.%d' }}</time>
                <h3 class="post-item-title">{{ post.title }}</h3>
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  {% else %}
    <p class="empty">还没有任何标签。在文章的 front matter 里加上 <code>tags: [标签名]</code> 就会出现在这里。</p>
  {% endif %}
</div>
